/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Terminus";
  src: url(fonts/TerminusTTF-4.39.ttf); }
@font-face {
  font-family: "Terminus-Bold";
  src: url(fonts/TerminusTTF-Bold-4.39.ttf); }
body {
  background-color: transparent; }

h1, h2, h3 {
  background-color: #2f3a60;
  font-family: "Terminus-Bold";
  color: #ffffff;
  padding-left: 21px; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 32px; }

.game-capture, .chat, .input, .webcam {
  display: block;
  position: absolute; }

.layout-container {
  width: 1920px;
  height: 1080px;
  background-image: url("img/city.jpg");
  background-position: center;
  background-repeat: repeat-x;
  background-size: 1920px 1080px;
  -webkit-animation: animatedBackground 120s linear infinite; }
  .layout-container .game-capture {
    left: 106px;
    bottom: 438.063px;
    width: 1102px;
    height: 620px; }
    .layout-container .game-capture .display {
      width: 1102px;
      height: 620px; }
  .layout-container .chat {
    left: 1326.601px;
    bottom: 511.875px;
    width: 504px;
    height: 543px; }
    .layout-container .chat .display {
      width: 504px;
      height: 543px; }
  .layout-container .input {
    left: 355.028px;
    bottom: 27.520px;
    width: 604px;
    height: 245px; }
    .layout-container .input .display {
      width: 604px;
      height: 213px; }
  .layout-container .webcam {
    left: 1224.427px;
    bottom: 98.600px;
    width: 610px;
    height: 341px; }
    .layout-container .webcam .display {
      width: 610px;
      height: 341px; }

.container {
  background-color: rgba(47, 58, 96, 0.6); }

.fullscreen-layout-container {
  width: 354.166px;
  height: 626.265px; }
  .fullscreen-layout-container .chat, .fullscreen-layout-container .webcam, .fullscreen-layout-container .input {
    width: 354.166px; }
  .fullscreen-layout-container .chat {
    bottom: 348.120px; }
  .fullscreen-layout-container .webcam {
    bottom: 153.651px; }
  .fullscreen-layout-container .input {
    bottom: 0px; }

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1920px 0; } }

/*# sourceMappingURL=main.css.map */
