@import 'reset';

$color-text: #ffffff;
$color-base: #2f3a60;
$color-display: rgba(47, 58, 96, 0.6);
$font_regular: 'Terminus';
$font_bold: 'Terminus-Bold';

@font-face {
    font-family: $font_regular;
    src: url(fonts/TerminusTTF-4.39.ttf);
}

@font-face {
    font-family: $font_bold;
    src: url(fonts/TerminusTTF-Bold-4.39.ttf);
}

body {
    background-color: transparent;
    overflow: hidden;
}

h1, h2, h3 {
    background-color: $color-base;
    font-family: $font_bold;
    color: $color-text;
    padding-left: 21px;
}
p {
    font-family: $font_bold;
    color: $color-text;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 32px;
}

.game-capture, .chat, .input, .webcam, .splits, .info {
    display: block;
    position: absolute;
}

.dashboard-layout-container {
    width: 1920px;
    height: 1080px;
    background-image: url('img/city.jpg');
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    -webkit-animation: animatedBackground 120s linear infinite;
    .game-capture {
        left: 20px;
        top: 20px;
        width: 1192.740px;
        height: 773.973px;
        .display {
            width: 1192.740px;
            height: 670.202px;
        }
    }
    .chat {
        right: 20px;
        top: 20px;
        width: 669.255px;
        height: 615.417px;
        .display {
            width: 669.255px;
            height: 583.417px;
        }
    }
    .input {
        left: 20px;
        bottom: 20px;
        width: 603.687px;
        height: 245.152px;
        .display {
            width: 603.687px;
            height: 213.152px;
        }
    }
    .info {
        width: 263.603px;
        height: 110px;
        &.timeup {
            left: 949.137px;
            bottom: 155.152px;
        }
        &.twitter {
            left: 949.137px;
            bottom: 20px;
        }
        p {
            font-size: 40px;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .display {
            width: 263.603px;
            height: 78px;
        }
    }
    .webcam {
        right: 20px;
        bottom: 20px;
        width: 669.255px;
        height: 410.163px;
        .display {
            width: 669.255px;
            height: 378.163px;
        }
    }
}

.container {
    background-color: $color-display;
}


.fullscreen-layout-container {
    width: 354px;
    height: 488px;
    .chat, .webcam, .input {
        width: 100%;
    }
    .chat {
        bottom: 223px;
    }
    .webcam {
        bottom: 0px;
    }
}

@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1920px 0; }
}

.speedrun-layout-container {
    width: 1920px;
    height: 1080px;
    background-image: url('img/city.jpg');
    background-position: center;
    background-repeat: repeat-x;
    background-size: 1920px 1080px;
    -webkit-animation: animatedBackground 120s linear infinite;
    .game-capture {
        left: 20px;
        bottom: 225.792px;
        width: 1181.690px;
        height: 834.208px;
        .display {
            width: 1181.690px;
            height: 834.208px;
        }
    }
    .chat {
        left: 20px;
        bottom: 20px;
        width: 1181.690px;
        height: 185.021px;
        .display {
            width: 1181.690px;
            height: 155.432px;
        }
    }
    .splits {
        right: 20px;
        bottom: 414.906px;
        width: 678.714px;
        height: 645.094px;
        .display {
            width: 678.714px;
            height: 613.094px;
        }
    }
    .webcam {
        right: 20px;
        bottom: 20px;
        width: 678.714px;
        height: 372.731px;
        .display {
            width: 678.714px;
            height: 341.421px;
        }
    }
}
