@import 'reset';

$color-text: #ffffff;
$color-base: #2f3a60;
$font_regular: 'Terminus';
$font_bold: 'Terminus-Bold';

@font-face {
    font-family: $font_regular;
    src: url(fonts/TerminusTTF-4.39.ttf);
}

@font-face {
    font-family: $font_bold;
    src: url(fonts/TerminusTTF-Bold-4.39.ttf);
}

body {
    background-color: transparent;
}

h1, h2, h3 {
    background-color: $color-base;
    font-family: $font_regular;
    color: $color-text;
    padding-left: 21px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 32px;
}

.game-capture, .chat, .input, .webcam {
    display: inline-block;
    position: absolute;
}

.layout-container {
    width: 1920px;
    height: 1080px;
    background-image: url('img/city.jpg');
    background-position: center;
    background-repeat: repeat-x;
    background-size: 1920px 1080px;
	animation: animatedBackground 120s linear infinite;
}

.container {
    background-color: rgba(47, 58, 96, 0.6);
}

.game-capture {
    left: 106px;
    bottom: 438.063px;
    width: 1102px;
    height: 620px;
    .display {
        width: 1102px;
        height: 620px;
    }
}

.chat {
    left: 1326.601px;
    bottom: 511.875px;
    width: 504px;
    height: 543px;
    .display {
        width: 504px;
        height: 543px;
    }
}

.input {
    left: 355.028px;
    bottom: 27.520px;
    width: 604px;
    height: 245px;
    .display {
        width: 604px;
        height: 213px;
    }
}

.webcam {
    left: 1224.427px;
    bottom: 98.600px;
    width: 610px;
    height: 341px;
    .display {
        width: 610px;
        height: 341px;
    }
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -1920px 0; }
}
